<footer
    class="w-full bg-dark-900 border-t border-copper-500/20 py-3 mt-auto shadow-[0_-5px_15px_-3px_rgba(0,0,0,0.5)] relative z-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-center space-y-2">
            <!-- Logo + Nom -->
            <div class="flex items-center space-x-2">
                <img src="assets/images/logoDokkCorp.png" alt="Logo Dokk Corp." class="w-7 h-7 relative z-10">
                <span
                    class="md:text-lg text-md font-bold tracking-[0.2em] uppercase bg-gradient-to-r from-copper-500 via-copper-300 to-copper-500 text-transparent bg-clip-text drop-shadow-[0_0_5px_rgba(184,115,51,0.2)]">
                    Dokk Corp.
                </span>
            </div>
            <!-- Copyright xD -->
            <p class="md:text-sm text-xs text-center text-copper-400/50 font-medium tracking-widest uppercase">
                &copy; {{ currentYear }} Dokk Corp. Tous droits réservés.
            </p>
        </div>
    </div>
</footer>